@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

// FONT FAMILY
$font-primary: 'Raleway', sans-serif;

// COLORS
$color-background: #f1f2f2;
$color-text-gray: #9c9c9c;
$color-orange: #f6921e;
$color-green: #3dbdad;

